<button class="btn btn-outline-danger mr-2" [routerLink]="[herosUrl.LIST]">Regresar</button>
<hr>

<div class="row animated fadeIn fast">
   <div class="col-md-12">
      <form (ngSubmit)="saveHero()" [formGroup]="formGroup">
         <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" formControlName="name">
         </div>
         <div class="form-group">
            <label for="company">Universe</label>
            <select class="form-control" id="company" formControlName="universe" [compareWith]="compareFn">
               <option *ngFor="let universe of universes" [ngValue]="universe">{{universe.name}}</option>
            </select>
         </div>
         <button type="submit" class="btn btn-outline-success" [disabled]="formGroup.invalid">Save</button>
      </form>
   </div>
</div>