<div class="row">
   <div class="col-md-12 text-right mb-4">
      <button [routerLink]="[herosUrl.ADD]" type="button" class="btn btn-outline-primary btn-sm" type="button"
         name="button">
         <i class="fas fa-mask"></i>
         New
      </button>
   </div>
</div>
<div *ngIf="!loading" class="row animated fadeIn">
   <div class="col-md-12">
      <div class="table-responsive">
         <table class="table table-sm table-hover">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Universe</th>
                  <th scope="col" class="text-right">Options</th>
               </tr>
            </thead>
            <tbody class="">
               <tr *ngFor="let hero of heros | async; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ hero.name }}</td>
                  <td>{{ hero.universe.name }}</td>
                  <td class="text-right">
                     <button [routerLink]="[herosUrl.ADD, hero.key$]" type="button" class="btn btn-outline-primary btn-sm mr-2 "
                        type="button" name="button">
                        <i class="fas fa-edit"></i>
                     </button>
                     <button (click)="deleteHero(hero.key$)" type="button" class="btn btn-outline-danger btn-sm" type="button"
                        name="button">
                        <i class="fas fa-trash-alt"></i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>